@import './common-styles.scss';
@import './_base64Img';

.colgroup-checkbox {
  width: 50px;
}

#admin-config ::ng-deep .ui-table {

  .ui-table-tbody>tr>td,
  .ui-table-thead>tr>th {
    padding: 16px;
  }
}

#admin-config-edit {
  .icon-warning {
    font-size: 30px;
    color: $alertError;
    padding-top: 0.5rem;
  }

  .p-l-30 {
    padding-left: 30px;
  }

  .p-l-0 {
    padding-left: 0;
  }

  .w-100 {
    width: 100%;
  }
}

.content-panel {
  box-shadow: 2px 2px $lightGrey;
  padding: 60px 30px;
}

.p-r-20 {
  padding-right: 20px;
}

/******************CSS Form*******************/

.form-add-user {
  margin: 10px 0px 0px 10px;
  ;
}

.label-user-usage {
  margin: 30px 0px 0px 10px;
}

.rows-edit-form {
  margin-top: 15px;
}

.permission_span {
  float: center;
}

/***customize table and edit width of rows**/
.cus-panel {
  ::ng-deep {
    .colgroup-functions {
      width: $col-functions-width;
    }

    .colgroup-checkbox {
      width: $col-checkbox-width;
    }

    .colgroup-uid {
      width: 40%;
    }
  }
}

.mongodb-img {
  background-image: url($db-logo-mongodb-leaf);
  width: 32px;
  height: 32px;
  margin-bottom: -8px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: inline-table;
}

.icon-info {
  font-size: 30px;
  color: $ribbon-teal;
  padding: 0.5rem;
}

.text-warning {
  font-size: 1.2em;
}

#role-action-block ::ng-deep {
  .ui-breadcrumb {
    border: none;
    padding: 0.5em 0;
  }
  .ui-breadcrumb ul li:first-child a:hover,
  .ui-breadcrumb ul li:nth-child(1) a:hover {
     color: #4ebfda;
  }
  .ui-breadcrumb ul li:nth-child(3) a {
    color: #1d1f21;
    cursor: default;
  }
} 
