<div class="p-grid">
    <div class="p-col-12 p-sm-3 p-md-3 p-lg-3 p-xl-3 menu-bar">
        <li routerLink="/" [appActive]="pathCurrent === ''">General</li>
        <li routerLink="/directive" [appActive]="pathCurrent === '/directive'">Derective Angular</li>
        <li routerLink="/library" [appActive]="pathCurrent === '/library'">Library</li>
        <li routerLink="/form" [appActive]="pathCurrent === '/form'">Form</li>
    </div>
    <div class="p-col-12 p-sm-9 p-md-9 p-lg-9 p-xl-9">
        <router-outlet></router-outlet>
    </div>
</div>
