<div class="skins">
    <p-toast position="top-right" severity="success"></p-toast>
    <div class="bgr-loading" *ngIf="skins === undefined">
        <p-progressSpinner strokeWidth="5" class="icon-loading"></p-progressSpinner>
    </div>
    <div *ngIf="skins">
        <p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle" #cf>
            <ng-template pTemplate="footer">
                <button type="button" pButton class="p-button-outlined" icon="pi pi-times" label="No" (click)="cf.reject()"></button>
                <button type="button" pButton icon="pi pi-check" label="Yes" (click)="cf.accept()"></button>
            </ng-template>
        </p-confirmDialog>
        <p-toolbar styleClass="p-mb-4">
            <div class="p-toolbar-group-left">
                <p-button label="New" icon="pi pi-plus" styleClass="p-button-success p-mr-2" (click)="onNewSkin()"></p-button>
                <p-button icon="pi pi-times" styleClass="p-button-danger" (click)="deleteSelectedSkins($event)" [disabled]="!selectedskins || !selectedskins.length"></p-button>
            </div>
            <div class="p-toolbar-group-right">
                <p-fileUpload #iFile mode="basic" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" class="p-mr-2" (onSelect)="onImportFile($event,iFile)" [maxFileSize]="1000000" label="Import" chooseLabel="Import">
                </p-fileUpload>
                <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help" (click)="exportExcel()"></button>
            </div>
        </p-toolbar>
        <p-card>
            <p-table #dtSkin [globalFilterFields]="['nameHero','name','type']" [value]="skins" [(selection)]="selectedskins" [rowHover]="true" [rows]="5" (onPage)="paginate($event,dtSkin)" (onFilter)="onFilterData($event)" [rowsPerPageOptions]="[5,10,15]" [paginator]="true">
                <ng-template pTemplate="caption">
                    <div class="p-d-flex p-ai-center p-jc-between">
                        <h5 class="p-m-0">Total: {{this.skins.length>1 ? this.skins.length+' skins': this.skins.length+' skin'}} </h5>
                        <span class="p-input-icon-left">
              <i class="pi pi-search"></i>
              <input type="text" pInputText placeholder="Search (Hero Name, Skin Name, Type)" (input)="dtSkin.filterGlobal($event.target.value, 'contains')">
            </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th *ngFor="let col of cols" [pSortableColumn]="col.field != 'img' && col.field != 'type' ? col.field : ''" class="p-text-nowrap" [ngStyle]="{'width': col.width}">
                            <span *ngIf="col.field != 'type'">{{col.header}}</span>
                            <p-sortIcon [field]="col.field" *ngIf="col.field != 'img' && col.field != 'type'"></p-sortIcon>
                            <p-columnFilter [field]="col.field" matchMode="equals" [showMenu]="false" *ngIf="col.field == 'type'">
                                <ng-template pTemplate="selectedItem">

                                </ng-template>
                                <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                    <p-dropdown #dd [ngModel]="value" [options]="skinTypes" (onChange)="filter($event.value)" [placeholder]="col.header" [showClear]="true">
                                        <ng-template let-option pTemplate="item">
                                            <span [class]="'badge badge-' + option.value">{{option.label}}</span>
                                        </ng-template>
                                    </p-dropdown>
                                </ng-template>
                            </p-columnFilter>
                        </th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-skin>
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="skin"></p-tableCheckbox>
                        </td>
                        <td *ngFor="let col of cols">
                            <img [src]="checkImg(skin[col.field])" alt="" *ngIf="col.field == 'img'" class="p-shadow-4">
                            <span *ngIf="col.field == 'type'" [class]="'badge badge-'+ skin[col.field]|lowercase">{{skin[col.field]}}</span>
                            <span *ngIf="col.field != 'img' && col.field != 'type'">{{skin[col.field]}}</span>
                        </td>
                        <td>
                            <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-secondary p-mr-2 p-mb-1" (click)="editSkin(skin)"></button>
                            <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteSkin(skin)"></button>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </p-card>
    </div>
    <app-skin-dialog (hideDialog)="onHideDialog($event)" (updateSkin)="updateSkin($event)" (newSkin)="addNewSkin($event)" [typeDialog]="typeDialog" [showDialog]="showDialog" [skin]="skinChosen" [txtHeader]="txtHeader"></app-skin-dialog>
</div>
<app-lazy-loading [state]="lazyUpload"></app-lazy-loading>