<rbn-login *ngIf="!isAuthenticated" [showTerms]="false" [showVersion]="false" (LogInEvent)="logInUser()"></rbn-login>
<div *ngIf="isAuthenticated" class="pagecontainer">
  <div>
    <app-topheader display="vnfm" product="VNFM"></app-topheader>
  </div>
  <div class="navContentContainer">
    
    <vertical-split-pane primary-component-minsize="8" secondary-component-minsize="100"
       local-storage-key="split-pane"
      primary-component-initialratio="0.14" style="width:100%">

      <div style="vertical-align: top;" class="split-pane-content-primary">
        <div class="leftnav">
          <rbn-leftnav [showEC]="false"> </rbn-leftnav>
        </div>
      </div>

      <div class="split-pane-content-secondary">
        <div class="contentContainer">
          <router-outlet></router-outlet>
        </div>
      </div>

    </vertical-split-pane>
  </div>
</div>
<div id="ng-container"></div>


