<div id="search-component" class="search-component">
    <!-- <label for="search-box">Hero Search</label> -->
    <div class="bgr-search">
        <input #searchBox id="search-box" (input)="search(searchBox.value)" (focus)="focusIn()" (focusout)="focusOut(searchBox.value)" placeholder="Hero Search" autocomplete="off" />
        <i class="far fa-search"></i>
        <ul [class]="'search-result '+stateCls">
            <li *ngFor="let hero of heroes$ | async">
                <a routerLink="/detail/{{hero.id}}">
                    <img [src]="hero.img" alt=""> {{hero.name}}
                </a>
            </li>
        </ul>
    </div>

</div>
