<div class="ui-g topheaderContainer">
  <div class="ui-g-5 headerlogo">
    <rbn-headerlogo [productName]="productName"></rbn-headerlogo>
  </div>
  <div class="ui-g-1 headerstatus">
    <span class="status"><a [id]="'vnfms'" [routerLink]="['/vnfm', 'vnfms']" routerLinkActive="active"
        [routerLinkActiveOptions]="{exact:true}">{{vnfmStateTxt}}</a></span>
  </div>
  <div class="ui-g-1 headeralert">
    <!-- <rbn-headeralert></rbn-headeralert>  -->
  </div>
  <div class="ui-g-5 headeruser">
    <rbn-headeruser></rbn-headeruser>
  </div>
</div>