@import './variable';
* {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
    margin: 1rem 0 3rem 0;
    color: rgb(18, 86, 105);
    font-weight: 600;
}

.container {
    display: flex;
}

nav {
    display: flex;
    flex-direction: column;
    width: 22%;
    margin-right: auto;
    background: #fafafa;
}

nav a {
    padding: 0.8rem 1rem;
    color: rgb(93, 93, 93);
}

nav a.active i,
nav a.active,
nav a:hover {
    background: #DBDBDB;
    text-decoration: unset;
    color: $colorActive;
}

nav a:hover i {
    color: $colorActive;
}

nav a i {
    width: 10%;
    text-align: center;
    font-size: 20px;
    color: rgb(93, 93, 93);
}

.content {
    width: 76%;
    border: 1px solid #DBDBDB;
    padding: 1rem;
    position: relative;
}

.form-gr {
    display: flex;
    align-items: center;
    label {
        width: 28%;
        margin-right: auto;
    }
    input {
        width: 70%;
        margin: 0;
        padding: 0.4rem 1rem;
    }
}

.btn {
    border-radius: 0.2rem;
    padding: 0.5rem 1rem;
    font-size: 15px;
}

.hidden {
    display: none;
}

@import './heroes';
@import './hero-detail';
@import './hero';
@import './search-component';
