* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  overflow-x: hidden;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

button:focus {
  outline: none;
}

h1 {
  text-align: center;
  margin: 1rem 0 3rem 0;
  color: #125669;
  font-weight: 600;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 19%;
  margin-right: auto;
  background: #fafafa;
}

nav a {
  padding: 0.8rem 1rem;
  color: #5d5d5d;
}

nav a.active i,
nav a.active,
nav a:hover {
  background: #DBDBDB;
  text-decoration: unset;
  color: #17a2b8;
}

nav a:hover i {
  color: #17a2b8;
}

nav a i {
  width: 10%;
  text-align: center;
  font-size: 20px;
  color: #5d5d5d;
}

.content {
  width: 80%;
  border: 1px solid #DBDBDB;
  padding: 1rem;
  position: relative;
  min-height: 100vh;
}

.content button.p-button,
.content span.p-button {
  padding: 0.4rem 1rem;
}

.form-gr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-gr label {
  width: 28%;
  margin-right: auto;
}

.form-gr input {
  width: 70%;
  margin: 0;
  padding: 0.4rem 1rem;
}

.btn {
  border-radius: 0.2rem;
  padding: 0.5rem 1rem;
  font-size: 15px;
}

.hidden {
  display: none;
}

.bgr-loading {
  width: 100%;
  text-align: center;
  padding: 5rem 0;
}

.icon-loading .p-progress-spinner {
  width: 50px;
  height: 50px;
}

.icon-loading .p-progress-spinner .p-progress-spinner-circle {
  stroke: #17a2b8 !important;
}

img[src=""] {
  content: url("/assets/img/default/default-image.jpg");
}

.heroes {
  list-style-type: none;
  padding: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: auto;
  margin: 0 auto;
  padding: 1rem 0;
}

.heroes li {
  position: relative;
  margin: 0.2rem 3%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 44%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.heroes li .btn-link {
  cursor: pointer;
  color: #5d5d5d;
  height: 100%;
  border-radius: 0.3rem;
  background: #ebebeb;
  overflow: hidden;
  width: 80%;
  margin-right: 2%;
}

.heroes li .btn-link:hover {
  text-decoration: unset;
}

.heroes li .badge {
  color: #ffffff;
  background: #6c757d;
  width: 2.7rem;
  padding: 1rem 0;
  border-radius: 0;
}

.heroes li:hover {
  left: .2em;
}

.heroes-notfound {
  font-size: 25px;
  font-weight: 600;
  text-align: center;
  width: 100%;
}

.btn-new-hero {
  position: absolute;
  right: 2rem;
  top: 1.3rem;
  text-transform: uppercase;
  font-weight: 800;
}

.gr-filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  position: relative;
  margin-top: 2rem;
}

.gr-filter .dropdown .btn {
  border: 1px solid #5d5d5d;
  padding: 0.6rem 0.7rem 0.6rem 1.5rem;
  border-radius: 0;
  margin-left: 1rem;
  width: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gr-filter .dropdown .btn:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  border-color: #17a2b8;
  color: #17a2b8;
}

.gr-view {
  position: absolute;
  right: 1rem;
  top: 1rem;
}

.gr-view span {
  margin-left: 1rem;
  cursor: pointer;
}

.gr-view i {
  font-size: 25px;
  color: #5d5d5d;
}

.gr-view i span {
  font-size: 16px;
  margin-left: 0.1rem;
}

.gr-view .active,
.gr-view .active span {
  color: #17a2b8;
}

.gr-btn {
  width: 100%;
  margin-top: 2rem;
}

.gr-btn button {
  width: 140px;
  margin-right: 1rem;
  text-transform: uppercase;
}

.form-gr {
  width: 70%;
  margin: 0.5rem 0;
}

.hero-detail {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.hero-detail h3 {
  width: 100%;
  font-weight: 600;
}

.hero-detail-info {
  width: 60%;
  margin-right: auto;
}

.hero-detail-img {
  width: 38%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero-detail-img img {
  width: 200px;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
  border: 1px solid #C1C1C1;
  -webkit-box-shadow: 0px 0px 8px 2px #C1C1C1;
          box-shadow: 0px 0px 8px 2px #C1C1C1;
}

.hero-detail-img input {
  display: none;
}

.hero-detail-img .btn {
  margin-top: 1rem;
}

.hero-detail .form-gr {
  width: 100%;
}

.hero-detail .form-gr label {
  width: 35%;
  color: #5d5d5d;
}

.hero-detail .form-gr input {
  width: 63%;
}

.hero-detail .form-gr select {
  width: 63%;
  padding: 0.6rem 0.8rem;
}

.hero {
  width: 23%;
  height: 250px;
  position: relative;
  overflow: hidden;
  margin: 1rem 1%;
  cursor: pointer;
}

.hero-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

.hero-name {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #061c25;
  color: #ffffff;
  font-size: 18px;
  font-style: italic;
  font-weight: 800;
  padding: 0.5rem 1rem 0.5rem 1rem;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
  min-height: 42px;
}

.hero::after {
  content: '';
  position: absolute;
  top: -20px;
  right: -20px;
  padding: 9.5%;
  background: #ffffff;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

.hero:hover::after {
  top: -40px;
  right: -40px;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
}

.hero:hover .hero-img {
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
}

.hero:hover .hero-name {
  background: #006680;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  padding-left: 1.5rem;
}

.search-component i {
  position: absolute;
  left: 0.7rem;
  top: 0.8rem;
  font-size: 20px;
}

.search-component input {
  padding: .5rem 2.5rem;
  width: 100%;
  max-width: 300px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  border: 1px solid #5d5d5d;
  outline: none;
}

.search-component input:focus {
  border-color: #17a2b8;
  outline: none;
}

.search-component input:focus + i {
  color: #17a2b8;
}

.search-component .search-result {
  z-index: 1;
  max-width: 300px;
  opacity: 0.9;
  border: 1px solid #C1C1C1;
  border-top: 0;
}

.search-component .search-result a {
  text-transform: uppercase;
  position: relative;
}

.search-component .search-result img {
  position: absolute;
  width: 30px;
  height: 30px;
  -o-object-fit: cover;
     object-fit: cover;
  top: 0.3rem;
  left: 0.25rem;
  border-radius: 0.2rem;
}

/* HeroSearch private styles */
.bgr-search {
  width: 100%;
  position: relative;
  margin-bottom: 1.5rem;
}

li {
  list-style-type: none;
}

.search-result li a {
  display: inline-block;
  width: 100%;
  max-width: 300px;
  padding: .5rem 2.5rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  color: black;
}

.search-result li a:hover {
  background-color: #ebebeb;
}

ul.search-result {
  margin-top: 0;
  padding-left: 0;
  position: absolute;
  width: 100%;
  background: white;
}

.hero-type-list {
  width: 100%;
  height: 150px;
  margin: 0.5rem 0;
  -webkit-box-shadow: 0px 0px 5px 1px #C1C1C1;
          box-shadow: 0px 0px 5px 1px #C1C1C1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  overflow: hidden;
  position: relative;
}

.hero-type-list .bgr-img {
  width: 25%;
  height: 100%;
  overflow: hidden;
}

.hero-type-list-img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  -o-object-position: top;
     object-position: top;
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

.hero-type-list-content {
  width: 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hero-type-list-name {
  width: 101%;
  background: #061c25;
  color: #ffffff;
  font-size: 18px;
  font-style: italic;
  font-weight: 800;
  padding: 0.5rem 1rem 0.5rem 1rem;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

.hero-type-list-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 0;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

.hero-type-list-info .left {
  width: 45%;
  margin-left: auto;
}

.hero-type-list-info .right {
  width: 45%;
}

.hero-type-list-info .gr-info {
  padding: 0.3rem 0;
}

.hero-type-list-info .gr-info span:first-child {
  color: #5d5d5d;
}

.hero-type-list-info .gr-info span:first-child i {
  width: 30px;
  text-align: center;
}

.hero-type-list-info .gr-info span:last-child {
  font-weight: 600;
  margin-left: 0.2rem;
}

.hero-type-list:hover .hero-type-list-name {
  background: #006680;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  padding-left: 1.5rem;
}

.hero-type-list:hover .hero-type-list-info {
  margin-left: 1rem;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.hero-type-list:hover .hero-type-list-img {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
}

.hero-form .modal-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero-form .form-gr {
  width: 46%;
  position: relative;
}

.hero-form .form-gr label {
  width: 45%;
}

.hero-form .form-gr input,
.hero-form .form-gr select {
  width: 55%;
}

.hero-form .form-gr input {
  border: 1px solid;
}

.hero-form .form-gr input:focus {
  outline: none;
}

.hero-form .form-gr select {
  padding: 0.6rem 1rem;
}

.hero-form .form-gr select option {
  padding: 0.6rem 1rem;
}

.hero-form .btn {
  padding: 0.7rem 3rem;
  text-transform: uppercase;
  font-weight: 800;
}

.hero-form .gr-img {
  width: 100%;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 1rem;
}

.hero-form .gr-img img {
  width: 150px;
  height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-box-shadow: 0px 0px 5px 1px #C1C1C1;
          box-shadow: 0px 0px 5px 1px #C1C1C1;
}

.hero-form .gr-img input {
  display: none;
}

.hero-form .gr-img .btn {
  width: 150px;
  height: 150px;
  text-align: center;
  padding: 0;
  margin-left: 1rem;
}

.alert-err {
  position: absolute;
  color: red;
  right: 0;
  bottom: -12px;
  font-size: 12px;
}

.alert-err + input {
  border-color: red !important;
}

.skins p-table img {
  width: 100%;
  height: 75px;
  -o-object-fit: cover;
     object-fit: cover;
}

.skins .p-datatable {
  font-size: 0.9rem;
}

.skins .p-datatable .p-input-icon-left {
  width: 45%;
}

.skins .p-datatable .p-input-icon-left input {
  width: 100%;
}

.skins .p-card .p-card-content,
.skins .p-card .p-card-body {
  padding: 0;
}

.skins .p-card .p-card-content .p-dropdown-label,
.skins .p-card .p-card-body .p-dropdown-label {
  font-size: 0.85rem;
  font-weight: 700;
}

.skins .p-dialog .p-dialog-content {
  height: 100%;
}

.p-fileupload .p-messages {
  display: none;
}

.badge {
  padding: 0.4rem 0.6rem;
  font-size: 0.7rem;
}

.badge-standard {
  background: rgba(27, 102, 38, 0.2);
  color: #1B6626;
}

.badge-epic {
  background: rgba(8, 130, 138, 0.2);
  color: #08828A;
}

.badge-legendary {
  background: rgba(198, 55, 55, 0.2);
  color: #c63737;
}

.badge-ultimate {
  background: rgba(237, 132, 9, 0.2);
  color: #ED8409;
}

.badge-classic {
  background: rgba(93, 93, 93, 0.2);
  color: #5d5d5d;
}

.badge-mythic {
  background: rgba(102, 22, 118, 0.2);
  color: #661676;
}

.lazy-loading {
  display: none;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1000;
}

.lazy-loading .icon-loading .p-progress-spinner .p-progress-spinner-circle {
  stroke: #ffffff !important;
}

.lazy-loading.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
/*# sourceMappingURL=style.css.map */