@import './variable';
* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    overflow-x: hidden;
}


/* Chrome, Safari, Edge, Opera */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


/* Firefox */

input[type=number] {
    -moz-appearance: textfield;
}

button:focus {
    outline: none;
}

h1 {
    text-align: center;
    margin: 1rem 0 3rem 0;
    color: rgb(18, 86, 105);
    font-weight: 600;
}

nav {
    display: flex;
    flex-direction: column;
    width: 19%;
    margin-right: auto;
    background: #fafafa;
}

nav a {
    padding: 0.8rem 1rem;
    color: rgb(93, 93, 93);
}

nav a.active i,
nav a.active,
nav a:hover {
    background: #DBDBDB;
    text-decoration: unset;
    color: $colorActive;
}

nav a:hover i {
    color: $colorActive;
}

nav a i {
    width: 10%;
    text-align: center;
    font-size: 20px;
    color: rgb(93, 93, 93);
}

.content {
    width: 80%;
    border: 1px solid $bgrActive;
    padding: 1rem;
    position: relative;
    min-height: 100vh;
    button.p-button,
    span.p-button {
        padding: 0.4rem 1rem;
    }
}

.form-gr {
    display: flex;
    align-items: center;
    label {
        width: 28%;
        margin-right: auto;
    }
    input {
        width: 70%;
        margin: 0;
        padding: 0.4rem 1rem;
    }
}

.btn {
    border-radius: 0.2rem;
    padding: 0.5rem 1rem;
    font-size: 15px;
}

.hidden {
    display: none;
}

.bgr-loading {
    width: 100%;
    text-align: center;
    padding: 5rem 0;
}

.icon-loading {
    .p-progress-spinner {
        width: 50px;
        height: 50px;
        .p-progress-spinner-circle {
            stroke: $colorActive!important;
        }
    }
}

img[src=""] {
    content: url("/assets/img/default/default-image.jpg")
}

@import './heroes';
@import './hero-detail';
@import './hero';
@import './search-component';
@import './hero-type-list';
@import './hero-form';
@import './skins';
@import './lazy-loading';