<h3>My Heroes</h3>
<button class="btn btn-info btn-new-hero" data-toggle="modal" data-target="#formAddNewHero">
  Add new hero
</button>
<app-hero-form-add (newHero)="onNewHero($event)"></app-hero-form-add>
<div class="gr-filter">
    <app-hero-search (heroesSearch)="onHeroesSearch($event)" (stateSearch)="onStateSearch($event)"></app-hero-search>
    <div class="dropdown">
        <button class="btn dropdown-toggle" type="button" value="{{heroTypes[0].id}}" id="btnSortType" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      {{heroTypes[0].type}}
    </button>
        <div class="dropdown-menu" aria-labelledby="btnSortType">
            <button class="dropdown-item" *ngFor="let val of heroTypes" (click)="sortToType(val)">{{val.type}}</button>
        </div>
    </div>
    <div class="gr-view">
        <span (click)="changeView(0)"><i class="fas fa-th" [class.active]=" viewType == 0"><span>Grid</span></i>
        </span>
        <span (click)="changeView(1)"><i class="fas fa-th-list" [class.active]=" viewType != 0"><span>List</span></i>
        </span>
    </div>
</div>

<ul class="heroes" *ngIf="viewType == 0" [@enterAnimation]>
    <div class="heroes-notfound" *ngIf="heroes.length == 0 && stateSearch">
        Not Found Heroes Matching
    </div>
    <!-- <li *ngFor="let hero of heroes" [class.selected]="hero === selectedHero" (click)="onSelect(hero)"></li> -->

    <!-- <li *ngFor="let hero of heroes">
        <div routerLink="/detail/{{hero.id}}" class="btn-link">
            <span class="badge">{{hero.id}}</span> {{hero.name}}
        </div>
        <button class="btn btn-danger" title="delete hero" (click)="delete(hero)" title="Delete Hero">x</button>
    </li> -->
    <app-hero routerLink="/detail/{{ hero.id }}" [@enterAnimation] *ngFor="let hero of heroes" [heroInfo]="hero" class="hero"></app-hero>
</ul>
<ul class="heroes" *ngIf="viewType != 0" [@enterAnimation]>
    <div class="heroes-notfound" *ngIf="heroes.length == 0 && stateSearch">
        Not Found Heroes Matching
    </div>

    <app-hero-type-list routerLink="/detail/{{ hero.id }}" *ngFor="let hero of heroes" [heroInfo]="hero" class="hero-type-list"></app-hero-type-list>
</ul>
<!-- <app-hero-detail [hero]="selectedHero"></app-hero-detail> -->
