/* You can add global styles to this file, and also import other style files */
@import '../node_modules/rbn-common-lib/assets/styles/ribbontheme/variables';
body {
  margin: 0;
  background-color: #fafafb;
}
div .left-component {
  background-color: #4A4A4A;
  padding: 0;
  max-width: 15%;
}
.right-component {
  padding-top: 6px;
  padding-left: 6px;
  padding-right: 10px;
  background-color: #fafafb;
  min-width: 85%;
}

.headeruserMenubar .ui-menubar .ui-menubar-root-list {
	float: right;
}

body .emx_toolbar_bottom_style,
body .ui-panel .ui-panel-titlebar {
	-webkit-border-top-left-radius: 0px;
    -webkit-border-top-right-radius: 0px;

    -webkit-border-bottom-left-radius: 0px;
    -webkit-border-bottom-right-radius: 0px;

    -moz-border-radius-topleft: 0px;
    -moz-border-radius-topright: 0px;

    -moz-border-radius-bottomleft: 0px;
    -moz-border-radius-bottomright: 0px;

    border-top-left-radius: 0px;
    border-top-right-radius: 0px;

    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

body .ui-panel .ui-panel-titlebar {
	padding: 0.1em .5em;
}

.left-component[_ngcontent-c5] {
  border-right: solid 1px #d0d7db !important; 
}


.navContentContainer .v-outer .handle[_ngcontent-c9] {
  background-color: #d0d7db !important; 
  border-right: solid 1px #A7B1C2 !important;
  border-left: solid 1px #A7B1C2 !important;
}

.navContentContainer .v-outer .handle[_ngcontent-c9]:hover {
  background-color: #A7DFED !important;
}

.ui-table-caption .p-col {
  flex-basis: initial !important;
}


body .ui-toast-message .ui-toast-message-content .ui-button.ui-button-text-only .ui-button-text {
  padding: 0px;
  font-size: 10px;
}


.ui-toast-message .ui-toast-message-content .ui-button {
  background-color: #d0d7db;
  color: #212121;
  border: none;
  width: 50%;
  margin-left: 25px;
}

.headeruserDialog[_ngcontent-c9] p.center {
  text-align: left !important;
  padding-bottom: 5px;
  border-bottom: Solid 1px #d0d7db;
}


body .ui-inputtext,
body .ui-multi-select,
body .ui-multiselect,
body .ui-dropdown {
  border: Solid 1px #d0d7db;
}

body .ui-table .ui-table-thead > tr > th {
  color: #666666 !important;
  font-weight: 400;
}

body .ui-table .pi {
  color: #A7B1C2;
}

body .ui-table .pi-calendar,
body .ui-table .pi-check {
  color: #ffffff;
}

.leftnavComponent[_ngcontent-c7] .ui-panelmenu .ui-panelmenu-header>a,
.leftnavComponent[_ngcontent-c7] .ui-panelmenu .ui-panelmenu-content-wrapper {
  white-space: nowrap;
}




body .ui-table .ui-table-tbody > tr > td {
  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #EBEDF0;
  border-right: 1px solid #fff;
}

body .ui-panel {
  box-shadow: 2px 2px 2px #EBEDF0;
}

body .ui-dropdown, 
body .ui-inputtext, 
body .ui-multi-select, 
body .ui-multiselect {
  border: 1px solid #a7b1c2;
}



